/* ===============================
   GLOBAL TYPOGRAPHY SYSTEM
   =============================== */

html, body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;  
  line-height: 1.6;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
   line-height: 1.3;
}

/* Paragraphs */
p {
  margin-bottom: 1rem;  
}

/* Links */
a {
  display: inline-block; /* required for transform */
  transition: transform 0.2s ease, color 0.2s ease;
}

a:hover {
  transform: scale(1.20);
}
